In [2]:
##Import relevant libraries for the hmwk
import pandas as pd
import numpy as np

In [3]:
# Read the data into a local pandas data frame
df = pd.read_csv("titanic.csv")

In [5]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [48]:
#Q1 - Looking at count passengerId should be sufficient
print ("Total number of passengers: {}").format(df.PassengerId.count())

Total number of passengers: 891

In [61]:
#Q2 - Survival Rate

numSurvived = df.Survived[df.Survived==1].count()
print ("{:.2f}% passengers survived").format(numSurvived*100.0/df.Survived.count())

38.38% passengers survived

In [65]:
#Q3 - # Males 
numMale = df.Sex[df.Sex=='male'].count()
print ("{} male passengers").format(numMale)

577 male passengers

In [67]:
#Q4 - # Females
numFemale = df.Sex[df.Sex=='female'].count()
print ("{} female passengers").format(numFemale)

314 male passengers

In [71]:
#Q5 - Survival Rate (males)

maleDf = df[df.Sex=='male']
numSurvived = maleDf.Survived[maleDf.Survived==1].count()
print ("{:.2f}% male passengers survived").format(numSurvived*100.0/maleDf.Survived.count())

18.89% male passengers survived

In [72]:
#Q6 - Survival Rate (females)

femaleDf = df[df.Sex=='female']
numSurvived = femaleDf.Survived[femaleDf.Survived==1].count()
print ("{:.2f}% female passengers survived").format(numSurvived*100.0/femaleDf.Survived.count())

74.20% female passengers survived

In [112]:
#Q7 - Average age

# print df.mean(skipna=False) #This one will return Age mean as NaN 
print ("{:.2f} average age for passengers").format(df.Age.mean())

29.70 average age for passengers

In [114]:
#Q8 - Average age of survivors
print ("{:.2f} average age for passengers who survived").format(df.Age[df.Survived==1].mean())

28.34 average age for passengers who survived

In [116]:
#Q9 - Average age of people who didn't make it
print ("{:.2f} average age for passengers who died").format(df.Age[df.Survived==0].mean())

30.63 average age for passengers who died

In [117]:
#Q10 - Inferring that there seems to be a skew to save women. age wasn't a big factor

In [127]:
#Q11 
#df.head()
df.groupby(['Pclass']).PassengerId.agg(['count'])

        count
Pclass
1         216
2         184
3         491

In [13]:
#Q12 survival rate

df[df.Survived==1].groupby(['Pclass']).PassengerId.agg(['count'])*100/ df.groupby(['Pclass']).PassengerId.agg(['count'])

            count
Pclass
1       62.962963
2       47.282609
3       24.236253

In [131]:
#Q13
#We can also infer that passengers in class 1 got preferential treatment on surviving

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35,0,0,373450,8.0500,NaN,S

In [ ]:
#Q14

#age
#passenger class
# maybe create an inferred field about age buckets (like kids)
# Sex
# Fare
# Embarked for sure 
# Parch/SibSp?
# if the name a mrs. or miss